@media (max-width: 670px) {
  .container {
    margin: 150px 30px;
  }

  .link-atas {
    margin-right: 40px;
  }

  .inong {
    padding-left: 10px;
  }

  .bagian-tengah h1 {
    font-size: 50px;
    padding-left: 15px;
  }
  .bagian-tengah p {
    font-size: 30px;
    padding-left: 15px;
  }
  .bagian-tengah {
    background-position: right;
    color: #732335;
  }
  .judul-cowo {
    font-size: 15px;
  }

  .judul-cewe {
    font-size: 15px;
  }
  .about {
    width: 50%;
    margin-left: 5px;
  }

  .column img {
    height: 300px;
    width: 100%;
  }
  .bagian-cowo {
    padding-bottom: 350px;
  }

  .bagian-cewe {
    padding-bottom: 350px;
  }
}

@media (max-width: 1000px) {
  .link-atas {
    margin-right: 40px;
  }

  .bagian-mid p {
    font-size: 18px;
  }
  .bagian-tengah {
    background-position: right;
    color: #732335;
  }
}
