body {
  margin: auto;
}

.container {
  margin: 150px 120px;
}

header {
  background-color: #ffe79b;
  padding: 5px 25px;
  position: fixed;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: 0px 10px 5px #ffefbc;
}

.logo-header {
  float: left;
  padding: 10px 0px 10px 10px;
}

.link-atas {
  float: right;

  padding-top: 20px;
  transition: all 0.5s;
  margin-right: 600px;
}

.link-atas a {
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: #b85900;
}

.inong {
  padding-left: 70px;
}
.bagian-tengah {
  background-image: url(img/tux-sketch-1.jpeg);
  background-size: cover;
  height: 800px;
}

.bagian-tengah h1 {
  padding-top: 260px;
  font-size: 80px;
  padding-left: 50px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.bagian-tengah p {
  font-weight: bold;
  font-size: 30px;
  padding-left: 50px;
}

.bagian-mid {
  text-align: center;
}

.bagian-mid h4 {
  font-size: 40px;
}

.bagian-mid p {
  font-size: 20px;
}

.bagian-cowo {
  background-color: #e2d4d1;
  padding-bottom: 450px;
  padding-top: 20px;
}

.judul-cowo {
  text-align: center;
  font-size: 25px;
}

.column {
  float: left;
  width: 33.33%;
  text-align: center;
}

.column img {
  width: auto;
}

.judul-cewe {
  text-align: center;
  font-size: 25px;
}

.bagian-cewe {
  background-color: #ffe7eb;
  padding-bottom: 450px;
  padding-top: 20px;
  border-bottom: 1px solid #c3c3c3;
}

.bagian-bawah img {
  padding-left: 20px;
  cursor: pointer;
}

.bagian-bawah p {
  padding-left: 18px;
}

.find-us {
  text-align: center;
  font-weight: bold;
  padding-bottom: 30px;
}

.about {
  width: 30%;
  margin-left: 28px;
}
.column {
  width: 33.33%;
}
